body{
  color: #d300b0;
  background-color: black;
  margin-bottom: 10%;
}

.jumbotron {
  text-align: center;
  background:transparent !important;
  font-weight: 900;
}

.imgy-L {
  display: flex;
  float: left;
}
.imgy-R{
  display: flex;
  float: right;
}

.center{
  text-align: center;
}

.well{
  background-color: rgb(196, 245, 204);
  margin-left: 15%;
  margin-right: 15%;
  display: none;
  color: #94007c;
}



